.btn-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload input[type=file] {
    position: absolute;
    opacity: 0;
    z-index: 0;
    max-width: 100%;
    height: 100%;
    display: block;
}

.img-avatar-upload {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
